			<div id="page-header" style="margin-bottom: 40px">
				<div class="nav container">
					<h1>CALENDAR</h1>
					<iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23999999&amp;src=flawlessbeautyfremont%40gmail.com&amp;color=%231B887A&amp;ctz=America%2FLos_Angeles" style="border-width:0" width="1000" height="600" frameborder="0" scrolling="no"></iframe>
				</div>
			</div>

		<div class="transitions-enabled" id="products">
			<div class="loading">
				<img src="http://happywheelsyoob.com/themes/agario//resources/images/loading.gif" width="150" height="150">
			</div>
			<div id="container" class="container" style="display: none;">
				<div id="page-content">
					<div class="various-content" >

					</div>
				</div>
			</div>
		</div>
	</div>