	
	<!-- MAIN SLIDER : begin -->
	<div id="main-slider" class="m-has-hover-stop" data-interval="8000" style="margin-top: -60px">
		<div class="slide-list">



			<!-- SLIDE 1 : begin -->
			<div class="slide slide-2 m-bg-align-left" data-label="Welcome to Flawless Beauty" style="background-image: url( '/images/slide_02.jpg' );">
				<div class="slide-bg">
					<div class="container">
						<div class="slide-inner">
							<div class="slide-content various-content textalign-right valign-middle">

								<h1>Welcome<br></h1>
								<h3>to FLAWLESS BEAUTY!<br><a href="/reservation" class="m-open-ajax-modal">Make a Reservation</a></h3>

							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- SLIDE 1 : end -->
						
			<!-- SLIDE 2 : begin -->
			<div class="slide slide-1 m-bg-align-right" data-label="Beauty" style="background-image: url( '/images/slide_01.jpg' ); ">
				<div class="slide-bg">
					<div class="container">
						<div class="slide-inner">
							<div class="slide-content various-content textalign-left valign-middle">

								<h2>Flawless Beauty!</h2>
								<h3>Where your beauty starts!<br>Facial, Wellness</h3>

							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- SLIDE 2 : end -->

			<!-- SLIDE 3 : begin -->
			<div class="slide slide-3 m-bg-align-right" data-label="Specials" style="background-image: url( '/images/slide_03.jpg' );">
				<div class="slide-bg">
					<div class="container">
						<div class="slide-inner">
							<div class="slide-content various-content textalign-left valign-middle">

								<h2>Specials</h2>
								<h3>Eye Treatment $40<br> Hand Treatment $35 <br> Lymphatic Treatment $35</h3>

							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- SLIDE 3 : end -->
		</div>
	</div>
	<!-- MAIN SLIDER : end -->

	<!-- CORE : begin -->
	<div id="core">

		<!-- PAGE CONTENT : begin -->
		<div id="page-content">
			<div class="various-content">

				<!-- SERVICES SECTION : begin -->
				<section>

					<!-- SECTION HEADER : begin -->
					<header>
						<div class="container">
							<h2>Our Services</h2>
							<p class="subtitle">We offer a wide range of beauty services</p>
							<p class="more"><a href="services.html" class="c-button m-type-2">See all Services</a></p>
						</div>
					</header>
					<!-- SECTION HEADER : end -->

					<!-- SERVICE LIST : begin -->
					<div class="c-service-list m-paginated" data-items="4" data-items-desktop="4" data-items-desktop-small="3" data-items-tablet="2" data-items-mobile="1">
						<div class="container">
							<div class="service-list-inner">
								<div class="service-list-item">

									<!-- SERVICE : begin -->
									<div class="c-service">
										<div class="service-image">
											<a href="services.html#cosmetics"><img src="/images/service_01.jpg" alt=""></a>
										</div>
										<h3 class="service-title"><a href="services.html#cosmetics">Cosmetics</a></h3>
										<div class="service-description">
											<p>Facials, Acne Treatments, Acne Scar Treatment, Moisturizing Wrinkle Removal, Anti-Aging</p>
										</div>
									</div>
									<!-- SERVICE : end -->

								</div>
								<div class="service-list-item">

									<!-- SERVICE : begin -->
									<div class="c-service">
										<div class="service-image">
											<a href="services.html#hairdressing"><img src="/images/service_02.jpg" alt=""></a>
										</div>
										<h3 class="service-title"><a href="services.html#hairdressing">Clinical Treatment</a></h3>
										<div class="service-description">
											<p>Collagen, Electiric Light Treatment</p>
										</div>
									</div>
									<!-- SERVICE : end -->

								</div>
								<div class="service-list-item">

									<!-- SERVICE : begin -->
									<div class="c-service">
										<div class="service-image">
											<a href="services.html#body-treatments"><img src="/images/service_03.jpg" alt=""></a>
										</div>
										<h3 class="service-title"><a href="services.html#body-treatments">Female care</a></h3>
										<div class="service-description">
											<p>Pregnancy Facial, Stretch Mark and Scar Tissue Reduction, Ovary Maintenance</p>
										</div>
									</div>
									<!-- SERVICE : end -->

								</div>
								<div class="service-list-item">

									<!-- SERVICE : begin -->
									<div class="c-service">
										<div class="service-image">
											<a href="services.html"><img src="/images/service_05.jpg" alt=""></a>
										</div>
										<h3 class="service-title"><a href="services.html">Other services</a></h3>
										<div class="service-description">
											<p>Eyelash Perming, Arching Eyebrow, Eyelash Extensions, Remove Freckles</p>
										</div>
									</div>
									<!-- SERVICE : end -->

								</div>
							</div>
						</div>
					</div>
					<!-- SERVICE LIST : end -->

				</section>
				<!-- SERVICES SECTION : end -->

				<!-- TESTIMONIALS SECTION : begin -->
				<section>

					<!-- SECTION HEADER : begin -->
					<header>
						<div class="container">
							<h2>Our Clients</h2>
							<p class="subtitle">Read why they love us so much</p>
							<p class="more"><a href="contact.html" class="c-button m-type-2">Become Our Client</a></p>
						</div>
					</header>
					<!-- SECTION HEADER : end -->

					<!-- TESTIMONIAL LIST : begin -->
					<div class="c-testimonial-list m-paginated">
						<div class="container">
							<div class="testimonial-list-inner">
								<div class="testimonial-list-item">

									<!-- TESTIMONIAL : begin -->
									<div class="c-testimonial m-has-portrait">
										<div class="testimonial-inner">
											<p class="testimonial-portrait"><span><img src="/images/client_01.jpg" alt=""></span></p>
											<blockquote>
												<p>Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero.</p>
												<footer><strong>Floor Simons</strong>, Startup CEO</footer>
											</blockquote>
										</div>
									</div>
									<!-- TESTIMONIAL : end -->

								</div>
								<div class="testimonial-list-item">

									<!-- TESTIMONIAL : begin -->
									<div class="c-testimonial m-has-portrait">
										<div class="testimonial-inner">
											<p class="testimonial-portrait"><span><img src="/images/client_02.jpg" alt=""></span></p>
											<blockquote>
												<p>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean imperdiet.</p>
												<footer><strong>Nikki Neil</strong>, Blogger</footer>
											</blockquote>
										</div>
									</div>
									<!-- TESTIMONIAL : end -->

								</div>
								<div class="testimonial-list-item">

									<!-- TESTIMONIAL : begin -->
									<div class="c-testimonial m-has-portrait">
										<div class="testimonial-inner">
											<p class="testimonial-portrait"><span><img src="/images/client_03.jpg" alt=""></span></p>
											<blockquote>
												<p>Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Aenean imperdiet. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Nam quam nunc.</p>
												<footer><strong>Tarja Lee</strong>, Writer</footer>
											</blockquote>
										</div>
									</div>
									<!-- TESTIMONIAL : end -->

								</div>
							</div>
						</div>
					</div>
					<!-- TESTIMONIAL LIST : end -->

				</section>
				<!-- TESTIMONIALS SECTION : end -->

				<!-- BRANDS SECTION : begin -->
				<section>

					<!-- SECTION HEADER : begin -->
					<header>
						<div class="container">
							<h2>Our Favourite brands</h2>
							<p class="subtitle">We use only the high quality original products</p>
						</div>
					</header>
					<!-- SECTION HEADER : end -->

					<div class="container">
						<div class="row">
							<div class="col-sm-3">
								<p class="textalign-center">

									<!-- BRAND LOGO : begin -->
									<a href="#" class="no-border"><img src="/images/brand_01.png" alt=""></a>
									<!-- BRAND LOGO : end -->

								</p>
							</div>
						</div>
					</div>

				</section>
				<!-- BRANDS SECTION : end -->

			</div>
		</div>
		<!-- PAGE CONTENT : end -->

	</div>
	<!-- CORE : end -->

