	<!-- PAGE HEADER : begin -->
	<div id="page-header">
		<div class="container">
			<h1 style="color: green;">Success!</h1>
			<br>
			<h3>Thank you for leaving us a message. We will contact to you shortly.</h3>
			<ul class="breadcrumbs">
				<li><a href="index.html">Back</a></li>
			</ul>
		</div>
	</div>
	<!-- PAGE HEADER : begin -->

	<div class="container">



	</div>

</div>
<!-- CORE : end -->