<!-- WRAPPER : begin -->
		<div id="wrapper">

			<!-- CORE : begin -->
			<div id="core">

				<!-- PAGE HEADER : begin -->
				<div id="page-header">
					<div class="container">
						<h1>Searching for "Lorem Ipsum"</h1>
						<ul class="breadcrumbs">
							<li><a href="/">Home</a></li>
							<li>Search</li>
						</ul>
					</div>
				</div>
				<!-- PAGE HEADER : begin -->

				<div class="container">

					<!-- PAGE CONTENT : begin -->
					<div id="page-content">

						<!-- SEARCH RESULTS : begin -->
						<div class="search-results">

							<!-- SEARCH FORM : begin -->
							<form class="c-search-form" action="search-results.html">
								<div class="form-fields">
									<input type="text" data-placeholder="Lorem Ipsum">
									<button class="c-button" type="submit"><i class="fa fa-search"></i></button>
								</div>
							</form>
							<!-- SEARCH FORM : end -->

							<!-- DIVIDER : begin -->
							<hr class="c-divider m-medium">
							<!-- DIVIDER : end -->

							<!-- RESULTS LIST : begin -->
							<ul class="results-list">

								<!-- RESULT ITEM : begin -->
								<li>
									<h3 class="item-title">Aliquam lorem ante, dapibus in, viverra quis</h3>
									<p class="item-link"><a href="#">http://demos.volovar.net/beautyspot/demo/lorem-ipsum.html</a></p>
									<div class="item-text various-content">
										<p>Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. <span class="search-query">Lorem Ipsum</span>. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.</p>
									</div>
								</li>
								<!-- RESULT ITEM : end -->

								<!-- RESULT ITEM : begin -->
								<li>
									<h3 class="item-title">Nam quam nunc, blandit vel, luctus pulvinar</h3>
									<p class="item-link"><a href="#">http://demos.volovar.net/beautyspot/demo/another-example.html</a></p>
									<div class="item-text various-content">
										<p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut <span class="search-query">Lorem Ipsum</span> libero venenatis faucibus. Nullam quis ante. Etiam sit.</p>
									</div>
								</li>
								<!-- RESULT ITEM : end -->

								<!-- RESULT ITEM : begin -->
								<li>
									<h3 class="item-title">In enim justo, rhoncus ut, imperdiet a, venenatis vitae</h3>
									<p class="item-link"><a href="#">http://demos.volovar.net/beautyspot/demo/donec-pede-justo.html</a></p>
									<div class="item-text various-content">
										<p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, <span class="search-query">Lorem Ipsum</span> aliquet nec, vulputate eget, arcu.</p>
									</div>
								</li>
								<!-- RESULT ITEM : end -->

							</ul>
							<!-- RESULTS LIST : end -->

							<!-- PAGINATION : begin -->
							<ul class="c-pagination">
								<li class="prev"><a href="#"><i class="fa fa-angle-left"></i></a></li>
								<li><a href="#">1</a></li>
								<li class="m-active"><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li class="next"><a href="#"><i class="fa fa-angle-right"></i></a></li>
							</ul>
							<!-- PAGINATION : end -->

						</div>
						<!-- SEARCH RESULTS : end -->

					</div>
					<!-- PAGE CONTENT : end -->

				</div>

			</div>
			<!-- CORE : end -->

			<!-- BOTTOM PANEL : begin -->
			<div id="bottom-panel">
				<div class="bottom-panel-inner">
					<div class="container">
						<div class="row">
							<div class="col-md-6">

								<!-- BOTTOM TEXT : begin -->
								<div class="bottom-text various-content">

									<h3>About Beautyspot</h3>
									<p><strong>BEAUTYSPOT</strong> is an ideal template for <strong>beauty salon, hairdressers, wellness or spa</strong>. Clean code and top-notch web design techniques are wrapped with <strong>several gorgeous color schemes</strong> to choose from.</p><p>You can buy this responsive HTML5/CSS3 template on <a href="http://themeforest.net/user/ShakespeareThemes/portfolio?ref=LubosVolovar">ThemeForest</a>.</p>

								</div>
								<!-- BOTTOM TEXT : end -->

							</div>
							<div class="col-md-6">

								<!-- BOTTOM SUBSCRIBE : begin -->
								<div class="bottom-subscribe various-content">

									<h3>Newsletter</h3>
									<p>BEAUTYSPOT supports MailChimp integration.</p>
									<form id="subscribe-form" action="http://volovar.us8.list-manage.com/subscribe/post-json?u=76a50c9454ec8ab78914d1bf2&amp;id=49e892f53d&amp;c=?" method="get">

										<!-- VALIDATION ERROR MESSAGE : begin -->
										<p style="display: none;" class="c-alert-message m-warning m-validation-error"><i class="ico fa fa-exclamation-circle"></i>Email address is required.</p>
										<!-- VALIDATION ERROR MESSAGE : end -->

										<!-- SENDING REQUEST ERROR MESSAGE : begin -->
										<p style="display: none;" class="c-alert-message m-warning m-request-error"><i class="ico fa fa-exclamation-circle"></i>There was a connection problem. Try again later.</p>
										<!-- SENDING REQUEST ERROR MESSAGE : end -->

										<!-- SUCCESS MESSAGE : begin -->
										<p style="display: none;" class="c-alert-message m-success"><i class="ico fa fa-check-circle"></i><strong>Sent successfully.</strong></p>
										<!-- SUCCESS MESSAGE : end -->

										<div class="form-fields">
											<input class="m-required m-email" name="EMAIL" type="text" data-placeholder="Your email address" title="Your email address">
											<button class="c-button submit-btn" type="submit" data-label="Subscribe" data-loading-label="Sending...">Subscribe</button>
										</div>
									</form>

								</div>
								<!-- BOTTOM SUBSCRIBE : end -->

							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- BOTTOM PANEL : end -->