<div id="wrapper">

			<!-- CORE : begin -->
			<div id="core" class="core-bg-1">

				<!-- PAGE HEADER : begin -->
				<div id="page-header">
					<div class="container">
						<h1>Services</h1>
						<ul class="breadcrumbs">
							<li><a href="index.html">Home</a></li>
							<li><a href="about-us.html">Salon</a></li>
							<li>Services</li>
						</ul>
					</div>
				</div>
				<!-- PAGE HEADER : begin -->

				<div class="container">

					<!-- PAGE CONTENT : begin -->
					<div id="page-content">
						<div class="various-content">

							<!-- CATEGORY SECTION : begin -->
							<section id="cosmetics">

								<h2>Cosmetics</h2>

								<div class="row">
									<div class="col-sm-2">

										<!-- CATEGORY IMAGE : begin -->
										<p class="textalign-center margin-sides-auto max-width-180"><img src="images/service_01.jpg" class="rounded" alt="Cosmetics"></p>
										<!-- CATEGORY IMAGE : end -->

									</div>
									<div class="col-sm-10">

										<!-- SERVICES : begin -->
										<ul class="c-accordion">
											<li class="m-has-price">
												<h3 class="accordion-title">Basic Facial Treatment</h3>
												<p class="accordion-price">$48/60min, series of 10: $380</p>
												<div class="accordion-content">
													<p>Deep Cleansing, Exfoliation, Vapor Spray, Blackhead Extraction, Massage(Facial), Nutritional Creamy Mask</p>
												</div>
											</li>
											<li>
												<h3 class="accordion-title">Acne Treatment </h3>
												<p class="accordion-price">$67/60min, series of 10: $580</p>
<!-- 												<p class="accordion-price">
													<span class="strikethrough">$10.50</span>
													<span class="sale-price">$6.99</span>
												</p> -->
												<div class="accordion-content">
													<p>Deep Cleansing, Exfoliation, Vapor Spray, Blackhead Extraction, Detoxification, Lavender Mask</p>
												</div>
											</li>
											<li>
												<h3 class="accordion-title">Acne Scar Treatment </h3>
												<p class="accordion-price">$120/60min, series of 10: $1080</p>
												<div class="accordion-content">
													<p>Deep Cleansing, Exfoliation, Blackhead Extraction, Electiric Light Synergy Treatment, Lavender Mask</p>
												</div>
											</li>
											<li>
												<h3 class="accordion-title">Intense Moisturizing, Anit-Aging Treatment</h3>
												<p class="accordion-price">$90/90min</p>
												<div class="accordion-content">
													<p>Deep Cleansing, Exfoliation, Vapor Spray, Blackhead Extraction, Eyebrow Shaping, Importing Hydramucine Concentrate, Massage face, neck and shoulder, Hydramucine Cream Mask + Soft Mask</p>
												</div>
											</li>
											<li>
												<h3 class="accordion-title">Ultrasonic Facial</h3>
												<p class="accordion-price">$100/90min, series of 10: $780</p>
												<div class="accordion-content">
													<p>Deep Cleansing, Exfoliation, Vapor Spray, Blackhead Extraction, Eyebrow Shaping, Ultrasonic Treatment Provides instant Pressure Change to Deep Skin Tissue, Natural Jades Placate, Massage face, neck and shoulder, Vitalized Eye Mask + Soft Mask</p>
												</div>
											</li>
											<li>
												<h3 class="accordion-title">Eye Treatment</h3>
												<p class="accordion-price">$40</p>
												<div class="accordion-content">
													<p>An intensive eye contour treatment to fade dark circles, reduce puffiness, diminish fine lines, and decongest the eyelids, creating a feeling of relaxation around the eyes.</p>
												</div>
											</li>
											<li>
												<h3 class="accordion-title">Hand Treatment</h3>
												<p class="accordion-price">$35</p>
												<div class="accordion-content">
													<p>Deep Cleansing, Exfoliation, Paraffin Mask to Seal in Moisture, Acupressure Treatment.</p>
												</div>
											</li>
											<li>
												<h3 class="accordion-title">Lymphatic Treatment</h3>
												<p class="accordion-price">$35</p>
												<div class="accordion-content">
													<p>Lymphatic Toxic and Remove Toxin</p>
												</div>
											</li>
										</ul>
										<!-- SERVICES : end -->

									</div>
								</div>

							</section>
							<!-- CATEGORY SECTION : end -->

							<!-- CATEGORY SECTION : begin -->
							<section id="hairdressing">

								<h2>Clinical Treatment</h2>

								<div class="row">
									<div class="col-sm-2">

										<!-- CATEGORY IMAGE : begin -->
										<p class="textalign-center margin-sides-auto max-width-180"><img src="images/service_02.jpg" class="rounded" alt="Hairdressing"></p>
										<!-- CATEGORY IMAGE : end -->

									</div>
									<div class="col-sm-10">

										<!-- SERVICES : begin -->
										<ul class="c-accordion">
											<li>
												<h3 class="accordion-title">G.M. Collin Derm Renewal Clinical Peel</h3>
												<p class="accordion-price">$65, series of 6: $300</p>
												<div class="accordion-content">
													<p>A deep exfoliation treatment that brightens complexion and promotes skin renewal, evening out blotches and discolorations.</p>
												</div>
											</li>
											<li>
												<h3 class="accordion-title">G.M. Collin Botinol(Botox-like) Effect</h3>
												<p class="accordion-price">$150, series of 4: $500</p>
												<div class="accordion-content">
													<p>A four step treatment that reduces supericial lines and deep wrinkles. Using collagen and vegetal filling spheres, this relaxing treatment plumps and redensify skin for a rejuvenated appearance.</p>
												</div>
											</li>
											<li>
												<h3 class="accordion-title">G.M. Collin Collagen 90-II Treatment</h3>
												<p class="accordion-price">$150, series of 5: $580</p>
												<div class="accordion-content">
													<p>An anti-aging treatment that combines a pure collagen sheet with other active ingredients to provide intensive hydration , cellular regeneration, and epidermal renewal.</p>
												</div>
											</li>
											<li>
												<h3 class="accordion-title">G.M. Collin SEA C-Spa Treatment</h3>
												<p class="accordion-price">$115, series of 4: $400</p>
												<div class="accordion-content">
													<p>An anti-aging treatment that instantly restores the skin's youthful appearance for long-lasting effects on lines, wrinkles, and for a radiant complexion. This treatment rejuvenates the skin by stimulating collagen and elastin synthesis needed to regain suppleness and elasticity.</p>
												</div>
											</li>
											<li>
												<h3 class="accordion-title">Multipeel Microdermabrasion</h3>
												<p class="accordion-price">$115, series of 6: $500</p>
												<div class="accordion-content">
													<p>Microdermabrasion is the most effective way to safely exfoliate the skin in a controlled manner without laser or chemicals. Exfoliation leaves a smoother texture, youger looking skin.</p>
												</div>
											</li>
											<li>
												<h3 class="accordion-title">Electiric Light Synergy Treatment</h3>
												<p class="accordion-price">$280, series of 5: $980</p>
												<div class="accordion-content">
													<p>This treatment is help the skin fiber to reorganization, to rejuvenate the skin regain elasticity. It is effective from pigmentation, freckle and rosacea.</p>
												</div>
											</li>
											<li>
												<h3 class="accordion-title">Waxing/E-Treatment</h3>
												<p class="accordion-price">From $25</p>
												<div class="accordion-content">
													<table>
														<thead>
															<tr>
																<th></th>
																<th>Waxing Treatment</th>
																<th>E-Treatment</th>
															</tr>
														</thead>
														<tbody>
															<tr>
																<td><strong>Upper Lip</strong></td>
																<td>$25</td>
																<td>$200</td>
															</tr>
															<tr>
																<td><strong>Facial</strong></td>
																<td>$45</td>
																<td>$300</td>
															</tr>
															<tr>
																<td><strong>Full Arms</strong></td>
																<td>$35</td>
																<td>$500</td>
															</tr>
															<tr>
																<td><strong>Half Arms</strong></td>
																<td>$25</td>
																<td>$180</td>
															</tr>
															<tr>
																<td><strong>Full Legs</strong></td>
																<td>$55</td>
																<td>$900</td>
															</tr>
															<tr>
																<td><strong>Half Legs</strong></td>
																<td>$30</td>
																<td>$360</td>
															</tr>
															<tr>
																<td><strong>Underarms</strong></td>
																<td>$20</td>
																<td>$300</td>
															</tr>
															<tr>
																<td><strong>Bikini</strong></td>
																<td>$20 up</td>
																<td>$600 up</td>
															</tr>
															<tr>
																<td><strong>Back</strong></td>
																<td>$50 up</td>
																<td>$600 up</td>
															</tr>
														</tbody>
													</table>
												</div>
											</li>
										</ul>
										<!-- SERVICES : end -->

									</div>
								</div>

							</section>
							<!-- CATEGORY SECTION : end -->

							<!-- CATEGORY SECTION : begin -->
							<section id="body-treatments">

								<h2>Female Care</h2>

								<div class="row">
									<div class="col-sm-2">

										<!-- CATEGORY IMAGE : begin -->
										<p class="textalign-center margin-sides-auto max-width-180"><img src="images/service_03.jpg" class="rounded" alt="Body Treatments"></p>
										<!-- CATEGORY IMAGE : end -->

									</div>
									<div class="col-sm-10">

										<!-- SERVICES : begin -->
										<ul class="c-accordion">
											<li>
												<h3 class="accordion-title">Pregnancy Facial Treatment</h3>
												<p class="accordion-price">$99/60min, series of 10: $790</p>
												<div class="accordion-content">
													<p>Wholesome and safe products with natural and organic active ingredients, complete care to cleanse, exfoliate, tone and treat your skin type.</p>
												</div>
											</li>
											<li>
												<h3 class="accordion-title">Young Mother Body Restoration</h3>
												<p class="accordion-price">$160/120min, series of 10: $980</p>
												<div class="accordion-content">
													<p>Replenish your after-delivery body and indulge yourself in a new and fresh body shape.</p>
												</div>
											</li>
											<li>
												<h3 class="accordion-title">Stretch Mark and Scar Tissue Reduction</h3>
												<p class="accordion-price">$120/60min, series of 10: $890</p>
												<div class="accordion-content">
													<p>Restore broken collagen lift, and improve the appeararance of stretch marks and wrinkles resulting from pregnancy and large weight loss.</p>
												</div>
											</li>
											<li>
												<h3 class="accordion-title">Breast Firming and Enhancement</h3>
												<p class="accordion-price">$120/60min, series of 10: $760</p>
												<div class="accordion-content">
													<p>Enhance the radiance of your breast line, tones, firms, and lifts sagging breasts</p>
												</div>
											</li>
											<li>
												<h3 class="accordion-title">Ovary Maintenance</h3>
												<p class="accordion-price">$80/60min</p>
												<div class="accordion-content">
													<p>Detox Skin, Exfoliation, Administer Essential, Oil-Porcelain</p>
												</div>
											</li>
										</ul>
										<!-- SERVICES : end -->

									</div>
								</div>

							</section>
							<!-- CATEGORY SECTION : end -->

							<!-- CATEGORY SECTION : begin -->
							<section id="massages">

								<h2>Slimming</h2>

								<div class="row">
									<div class="col-sm-2">

										<!-- CATEGORY IMAGE : begin -->
										<p class="textalign-center margin-sides-auto max-width-180"><img src="images/service_04.jpg" class="rounded" alt="Massages"></p>
										<!-- CATEGORY IMAGE : end -->

									</div>
									<div class="col-sm-10">

										<!-- SERVICES : begin -->
										<ul class="c-accordion">
											<li>
												<h3 class="accordion-title">Body Slimming Programs</h3>
												<p class="accordion-price">$300/120min</p>
												<div class="accordion-content">
													<p>Reduce cellulite, sculpt, contour, tone, and firm your body using our computerized no-invasive slimming system.</p>
												</div>
											</li>
											<li>
												<h3 class="accordion-title">Young Mother Body Restoration</h3>
												<p class="accordion-price">$250/120min</p>
												<div class="accordion-content">
													<p>Replenish your after-delivery body and indulge yourself in a new and fresh body shape.</p>
												</div>
											</li>
											<li>
												<h3 class="accordion-title">Partial Body Sculpting</h3>
												<p class="accordion-price">$120/60min</p>
												<div class="accordion-content">
													<p>This slimming program lets you emphasize a particular area of your body. Best for those with fitness concerns in: back, abdomen, bust, thighs, legs, or arms.</p>
												</div>
											</li>
											<li>
												<h3 class="accordion-title">Stretch Mark and Scar Tissue Reduction</h3>
												<p class="accordion-price">$120/60min</p>
												<div class="accordion-content">
													<p>Restore broken collagen lift, and improve the appearance of stretch marks and wrinkles resulting from gregnancy and large weight loss.</p>
												</div>
											</li>
											<li>
												<h3 class="accordion-title">Breast Firming and Enhancement</h3>
												<p class="accordion-price">$120/60min</p>
												<div class="accordion-content">
													<p>Enhance the radiance of your breast line, tones, firms, and lifts sagging breasts</p>
												</div>
											</li>
											<li>
												<h3 class="accordion-title">Aroma-Marine Aromatic Back Facial</h3>
												<p class="accordion-price">$75/60min</p>
												<div class="accordion-content">
													<p>This is a refreshing service for both men and women to promote a healthy and clear skin. The combination of actice ingredients will work to minimize pores and detoxify the skin on the back leaving fresh, radiant, and bright skin.</p>
												</div>
											</li>
											<li>
												<h3 class="accordion-title">Aromatherapy Body Relaxing Treatment</h3>
												<p class="accordion-price">$75/60min</p>
												<div class="accordion-content">
													<p>A relaxing massage experience applied with special arma recipe of essential oils which hydrates, tones, revitalizes, and heals the entire body.</p>
												</div>
											</li>
											<li>
												<h3 class="accordion-title">Hot Stone Therapy Treatment</h3>
												<p class="accordion-price">$115/60min</p>
												<div class="accordion-content">
													<p>The heat within the stones penetrates your body to provide you with a deeply relaxing experience.</p>
												</div>
											</li>
										</ul>
										<!-- SERVICES : end -->

									</div>
								</div>

							</section>
							<!-- CATEGORY SECTION : end -->

							<!-- CATEGORY SECTION : begin -->
							<section id="massages">

								<h2>Other Services</h2>

								<div class="row">
									<div class="col-sm-2">

										<!-- CATEGORY IMAGE : begin -->
										<p class="textalign-center margin-sides-auto max-width-180"><img src="images/service_05.jpg" class="rounded" alt="Massages"></p>
										<!-- CATEGORY IMAGE : end -->

									</div>
									<div class="col-sm-10">

										<!-- SERVICES : begin -->
										<ul class="c-accordion">
											<li>
												<h3 class="accordion-title">Eyelash Perming</h3>
												<p class="accordion-price">$45</p>
											</li>
											<li>
												<h3 class="accordion-title">Arching Eyebrow</h3>
												<p class="accordion-price">$15</p>
											</li>
											<li>
												<h3 class="accordion-title">Eyelash Extensions</h3>
												<p class="accordion-price">$120</p>
											</li>
											<li>
												<h3 class="accordion-title">Remove Freckles</h3>
												<p class="accordion-price">$20 up</p>
											</li>
										</ul>
										<!-- SERVICES : end -->

									</div>
								</div>

							</section>
							<!-- CATEGORY SECTION : end -->

							<!-- CTA MESSAGE SECTION : begin -->
							<section>

								<!-- CTA MESSAGE : begin -->
								<div class="c-cta-message">
									<div class="row">
										<div class="col-sm-8">
											<h2>Did you find a service for you?</h2>
											<p>Make your reservation NOW!</p>
										</div>
										<div class="col-sm-4">
											<p class="textalign-right">
												<a href="ajax/reservation-form.html" class="c-button m-open-ajax-modal">Make a Reservation</a>
											</p>
										</div>
									</div>
								</div>
								<!-- CTA MESSAGE : end -->

							</section>
							<!-- CTA MESSAGE SECTION : end -->

						</div>
					</div>
					<!-- PAGE CONTENT : end -->

				</div>

			</div>
			<!-- CORE : end -->
