		<div id="page-header" style="margin-bottom: 40px">
			<div class="container">
				<h1>PRODUCTS</h1>
				<ul class="breadcrumbs">
					<li><a href="/home">Home</a></li>
					<li>Products</li>
					<li><a href="/products/new">Add Product</a></li>
				</ul>
			</div>
		</div>
		<div class="container">
			<div id="page-content">
				<div class="various-content" >
					<% @products.each do |product| %>
						<%= link_to product.name, product %></p>
						<p><%= product.description %></p>
					<% end %>
				</div>
			</div>
		</div>
	</div>