<div id="wrapper">
	<div id="core" class="core-bg-1">
		<div id="page-header">
			<div class="container">
				<h1>PRODUCTS</h1>
				<ul class="breadcrumbs">
					<li><a href="index.html">Home</a></li>
					<li>Products</li>
				</ul>
			</div>
		</div>
		<div class="container">
			<div id="page-content">
				<div class="various-content">
					<h4>This is a pleace holder pleace holder pleace holder pleace holder pleace holder pleace holder pleace holder pleace holder pleace holder pleace holder pleace holder</h1>
				</div>
			</div>
		</div>
	</div>