<!-- BOTTOM PANEL : begin -->
<div id="bottom-panel">
	<div class="bottom-panel-inner">
		<div class="container">
			<div class="row">
				<div class="col-md-6">

					<!-- BOTTOM TEXT : begin -->
					<div class="bottom-text various-content">

						<h3>About Flawless Beauty & Slimming</h3>
						<p><strong>Flawless Beauty & Slimming</strong> is a beauty salon located in Fremont, CA which has over 22 years of experience serving customers. With its expertise, customers are treated to a professional and splendid experience combining the most advanced beauty care machines and top beauty skin care products resulting in Flawless Beauty.</p>

					</div>
					<!-- BOTTOM TEXT : end -->

				</div>
				<div class="col-md-6">

				</div>
			</div>
		</div>
	</div>
</div>
<!-- BOTTOM PANEL : end -->

	<!-- FOOTER : begin -->
	<footer id="footer">
		<div class="container">

			<!-- FOOTER BOTTOM : begin -->
			<div class="footer-bottom">
				<div class="row">
					<div class="col-md-6 col-md-push-6">

						<!-- FOOTER MENU : begin -->
						<nav class="footer-menu">
							<ul>
								<li><a href="index.html">Home</a></li>
								<li><a href="services.html">Services</a></li>
								<li><a href="contact.html">Contact</a></li>
							</ul>
						</nav>
						<!-- FOOTER MENU : end -->

					</div>
					<div class="col-md-6 col-md-pull-6">

						<!-- FOOTER TEXT : begin -->
						<div class="footer-text">
							<p>Copyrights 2016 Flawless Beauty & Slimming</p>
						</div>
						<!-- FOOTER TEXT : end -->

					</div>
				</div>
			</div>
			<!-- FOOTER BOTTOM : end -->

		</div>
	</footer>
	<!-- FOOTER : end -->

	</div>
	<!-- WRAPPER : end -->